@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville&display=swap');


html{
    font-family: 'Libre Baskerville', serif;
}
body {
    display: grid;
    grid-template-rows: 100px 800px;
    color: white;
    background: radial-gradient(rgba(128, 128, 128, 0), rgba(0, 0, 255, 0.274));
}


nav{
    display:flex;
    align-items: flex-end;
    /* background: radial-gradient(rgba(128, 128, 128, 0), rgba(0, 0, 255, 0.274)); */
    border-bottom: solid rgb(0, 0, 0) 5px;
    justify-content: space-evenly;
    font-size: 40px;
  
    /* position: sticky;
    top: 0px; */
    
  
    
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.top-image {
    background: url('/images/laptop-desk-macbook-writing-working-technology-860609-pxhere.com.jpg');
    height: 300px;
    background-size: cover;   
    background-attachment: fixed;
    box-shadow: 10px 10px 5px grey;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    
    
}

.middle-image {
    background: url('/images/photography-purple-train-color-training-studio-764110-pxhere.com.jpg');
    height: 300px;
    background-size: cover;   
    background-attachment: fixed;
    box-shadow: 10px 10px 5px grey;
    display:flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
}


/* /* .content-1 {
    display:flex;
    align-items: center;
   
    justify-content: space-evenly;
    height: 300px;
    box-shadow: 10px 10px 10px 5px grey; */
    
/* } */ 
.box-1, .box-2{
    animation: fadeIn duration ease-in delay 1  forwards;
    background-color: white !important;
    display: flex;
    height: 200px;
    width:200px;
    justify-content: center;
    align-items: center;
    box-shadow:  10px 10px 5px grey;
}


/* .box-1:hover, .box-2:hover{
    height: 250px;
    width:250px;

} */

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .description {
    max-width: 40px;
    height: 300px;
    position: -webkit-sticky;
    position: sticky;
    left: 0; /* become sticky once touching left edge */
  }
  
  .sidescroller{
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    background: #000;
  }
  
.content-1{
    display: grid;
    align-content: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
  }

  .content-about-me{
    display:flex;
    align-items: center;
    background: url('/images/music-crowd-concert-audience-live-musician-315-pxhere.com.jpg');
    justify-content: space-evenly;
    background-attachment: fixed;
    background-size:cover;
    height: 800px;
    box-shadow: 10px 10px 10px 5px grey;

  }
  
.item{
    display: flex;
  }
  
 .description span{
    display: inline-block;
    background: rgba(0,0,0,.5);
    width: 300px;
    height: 40px;
    transform: rotate(-90deg) translateX(-300px);
    transform-origin: left top 0;
    padding-top: 11px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
  }
  
  img{
    max-height: 300px;
  }