@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


html {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;


}

body {
  display: grid;
  grid-template-rows: 100px 800px;
  color: white;
  background: #E3E6EA;
  /* background: url('./images/architecture-art-background-1451474\ \(2\).jpg'); */
  background-size: cover;
  background-attachment: fixed;
  
  



}



nav {
  display: flex;
  align-items: flex-end;
  /* background: radial-gradient(rgba(128, 128, 128, 0), rgba(0, 0, 255, 0.274)); */
  border: solid rgb(0, 0, 0) 1px;
  justify-content: space-evenly;
  font-size: 40px;
  /* background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(0, 0, 8, 0.281)); */
  background: linear-gradient(rgb(0, 0, 0), rgb(43, 106, 217));
  /* background: powderblue; */
  /* position: sticky;
    top: 0px; */
  background-size: cover;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);


}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.top-image {
  background: url('./images/laptop-desk-macbook-writing-working-technology-860609-pxhere.com.jpg');
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid rgb(0, 0, 0) 1px;
  


}

.index-top-image {
  background: url('./images/color-conifer-environment-192136.jpg');
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid rgb(0, 0, 0) 1px;
  
}

.middle-image {
  background: url('./images/photography-purple-train-color-training-studio-764110-pxhere.com.jpg');
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
  
  border: solid rgb(0, 0, 0) 1px;

}

.index-middle-image {
  background: url('./images/color-conifer-environment-192136.jpg');
  height: 200px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  display: flex;
  justify-content: center;
  align-items: center;
 
  border: solid rgb(0, 0, 0) 1px;
}


/* /* .content-1 {
    display:flex;
    align-items: center;
   
    justify-content: space-evenly;
    height: 300px;
    box-shadow: 10px 10px 10px 5px grey; */

/* } */
.box-1,
.box-2 {
  animation: fadeIn duration ease-in delay 1 forwards;
  background-color: white !important;
  display: flex;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 5px grey;
}


/* .box-1:hover, .box-2:hover{
    height: 250px;
    width:250px;

} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.description {
  max-width: 40px;
  height: 300px;
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  /* become sticky once touching left edge */
}

.sidescroller {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  background: #000;
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397); */
  border: solid rgb(0, 0, 0) 1px;
}

.content-1 {
  display: grid;
  align-content: center;
  grid-auto-flow: column;
  justify-content: center;
  border: solid rgb(0, 0, 0) 1px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  
  padding: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(0, 0, 8, 0.281));
}

.arrow {
  align-self: center;
}


.index-content {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgb(0, 0, 0), rgb(43, 106, 217));
  /* justify-content: space-evenly; */

  background-size: cover;
  min-height: 100px;
  position: initial;
  margin-bottom: 15px;


  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  border: solid rgb(0, 0, 0) 1px;
}

#index-content div {
  border-radius: 50%;
  position: absolute;
}

.content-about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url('./images/music-crowd-concert-audience-live-musician-315-pxhere.com.jpg');
  justify-content: space-around;
  background-attachment: fixed;
  background-size: cover;
  min-height: 800px;
 

  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  border: solid rgb(0, 0, 0) 1px;

}

.content-about-me img {
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397); */
  border-radius: 10px;
  margin-top: 25px;
}

.content-about-me p {
  font-size: 20px;
  /* width: 600px; */
  margin-left: 60px;
  margin-right: 60px;
  /* transform: translate(0px, -200px); */
  /* box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397); */
  background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(89, 89, 90, 0.877));
}

.content-about-me .p2 {
  /* transform: translate(0px, 200px); */
}

.item {
  display: flex;
}

ul{
  background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(89, 89, 90, 0.877));
}

.description span {
  display: inline-block;
  background: rgba(0, 0, 0, .5);
  width: 300px;
  height: 40px;
  transform: rotate(-90deg) translateX(-300px);
  transform-origin: left top 0;
  padding-top: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

img {
  max-height: 300px;
}

/* Dropdown Button */
/* .dropdown-b {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-button{
  box-shadow: 0px 8px 16px 3px rgb(0, 0, 0);
  
}



/* project.html */

.project {
  padding:10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: linear-gradient(rgba(255, 255, 255, 0.116), rgba(0, 0, 8, 0.281));
  justify-content: space-evenly;
  background-attachment: fixed;
  background-size: cover;
  min-height: 800px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  border: solid rgb(0, 0, 0) 1px;
 

}

.project img {
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.397);
  border-radius: 10px;
  max-height: 200px;

}

.project div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 10px;
}



@media only screen and (max-width: 1200px) {
  .content-about-me p {
    margin-top: 60px;
  }

  .content-about-me p,
  .p2 {
    /* width: 400px; */
    transform: translate(0px, 0px);
  }

  .content-about-me {
    flex-direction: column;
  }

  nav {
    font-size: 30px;
  }

  .index-content {
    font-size: 10px;
  }

}


@media only screen and (max-width: 750px) {
  nav {
    font-size: 20px;
  }

  .index-content {
    font-size: 7px;
  }

}